body {
  background-color: hsl(0, 0%, 100%);
}
.main {
  margin-top: 4%;
  background-color: hsl(231, 100%, 99%);
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.2);
  margin-left: 20%;
  margin-right: 20%;
}
